@import '../../../styles/variables.scss';
@import '../../../styles/theme.scss';


.main-container{
width: 100vw;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: $header-color;
 gap: 3rem;


 h6{
    margin-top: 2rem;
    font-size: $font-size-xs;
 }
}