<div class="footer">
    <div class="icons">
        <h6>Contact Us</h6>
        <div class="media">
            <img src="../../../assets/icons/facebook.png" alt="facebook">
            <img src="../../../assets/icons/instagram.png" alt="instagram">
            <img src="../../../assets/icons/twitter.png" alt="twitter">
            <img src="../../../assets/icons/social.png" alt="whatsapp">
            <img src="../../../assets/icons/phone-call.png" alt="">
        </div>
        <p>© 2024 Fruggies. All rights reserved.</p>
    </div>
  
</div>
