<div class="veggies-container">
    <p>Vegetables</p>
    <div class="veggie">
        <img appHoverDirective src="../../../assets/images/bell.jpg" alt="apple">
        <img appHoverDirective src="../../../assets/images/broco.jpg" alt="banana">
        <img appHoverDirective src="../../../assets/images/cabbage.jpg" alt="orange">
        <img appHoverDirective src="../../../assets/images/carrot.jpg" alt="mango">
        <img appHoverDirective src="../../../assets/images/lettuce.jpg" alt="strawberry">
        <img appHoverDirective src="../../../assets/images/onion.jpg" alt="grapes">
        
       
    </div>
</div>
