<div class="fruits-container">
    <p>Fruits</p>
    <div class="fruit">
        <img src="../../../assets/images/apple.jpg" alt="apple">
        <img src="../../../assets/images/banana.jpg" alt="banana">
        <img src="../../../assets/images/orange.jpg" alt="orange">
        <img src="../../../assets/images/mango.jpg" alt="mango">
        <img src="../../../assets/images/strawberry.jpg" alt="strawberry">
        <img src="../../../assets/images/grapes.jpg" alt="grapes">
        
        
    </div>
</div>
